<!DOCTYPE html>
<html>
  <head>
    <title>MyBbs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <%= link_to 'MyBBS', 'root_path', class: 'navbar-brand' %>
      </div>
    </header>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
